* {
  box-sizing: border-box;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100wh;
}

.courseBtns {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.addCourseBtn2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mainCoursePage {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid blue;
}

.courseContent {
  position: relative;
}
