.contact_list {
    height: 83vh;
    width: 24%;
    overflow: scroll;
}

.message {
    height: 83vh;
    width: 76%;
    overflow: scroll;
    border: solid #000;
    border-width: 5px;
}

.text {
    background-color: #ededed !important;
    margin: .25rem;
}

.textSent {
    background-color: #FAC01A !important;
    margin: .25rem;
}

.contact_card {
    background-color: #f7f7f7;
}

.contact_card:nth-child(odd) {
    background-color: #ededed;
}

.lineheight{
    line-height: 1rem;
}

.contact_name {
    font-size: 1rem;
    font-weight: bold;
}

.contact_email{
    font-size: .8rem;
    font-weight: light;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
