.contact_list {
    height: 83vh;
    width: 24%;
    overflow: scroll;
}

.message {
    height: 83vh;
    width: 76%;
    overflow: scroll;
    border: solid #000;
    border-width: 5px;
}

.text {
    background-color: #ededed !important;
    margin: 0.25rem !important;
}

.text_sent {
    background-color: #fac01a !important;
    margin: 0.25rem !important;
}

.inboxEmail {
    background-color: #ededed !important;
    margin: 0.25rem !important;
    display: flex;
    justify-content: space-between;
}

.inboxEmailUnread {
    background-color: #ededed !important;
    margin: 0.25rem !important;
    font-weight: bolder !important;
    display: flex;
    justify-content: space-between;
    color: black !important;
}

.contact_card {
    background-color: #f7f7f7;
}

.contact_card:nth-child(odd) {
    background-color: #ededed;
}

.lineheight {
    line-height: 1rem;
}

.contact_name {
    font-size: 1rem;
    font-weight: bold;
}

.inbox_name {
    font-size: 1rem;
    font-weight: bold;
}

.contact_email {
    font-size: 0.8rem;
    font-weight: light;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.middlepane {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane {
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

.modal_style {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 400px !important;
    background-color: white !important;
    border: 2px solid #000 !important;
}

